# ملفات بايثون المؤقتة
__pycache__/
*.pyc

# مجلد بيئة العمل الافتراضية
venv/

# ملفات نظام الويندوز
Thumbs.db
Desktop.ini

# ملفات البيانات الضخمة (إذا كانت بياناتك كبيرة ألغِ التعليق عن السطر التالي)
# data/raw_sales_data.csv